{{- if or .Site.Params.header.showTitle }}
  <div class="flex items-center">
    <!-- Directly referenced logo -->
    <a href="{{ "" | relLangURL }}" class="mr-0" style="margin-right: 0px;">
      <img
        src="https://d11lwvehb4d05u.cloudfront.net/logo.png"
        width="65"
        height="65"
        class="max-h-[10rem] max-w-[10rem] object-scale-down"
        alt="{{ .Site.Title }}"
      />
    </a>

    <!-- Site title -->
    {{- if .Site.Params.header.showTitle }}
      <a
        class="decoration-primary-500 hover:underline hover:decoration-2 hover:underline-offset-2"
        rel="me"
        href="{{ "" | relLangURL }}"
        >{{ .Site.Title | markdownify | emojify }}</a
      >
    {{- end }}
  </div>
{{- end }}
