<form
  action="https://buttondown.email/api/emails/embed-subscribe/sibrahim"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/sibrahim', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email" />
  <input type="submit" value="Subscribe" />
  <p class="mt-2">
    Want to dive deeper into investment banking insights? Subscribe for updates and exclusive content from me.
  </p>
</form>
