<section class="subscribe">
    <label for="bd-email"><h3>Subscribe</h3></label>
<p>If you enjoy reading what I have to write, then you might be interested in subscribing to my newsletter. If email is your preferred method of delivery then you can simply fill out the tiny form below. If not, I would encourage you to check out the <a href="/RSS">RSS feeds</a>.</p>
<div class="subscribe-container">
  <form
  action="https://buttondown.email/api/emails/embed-subscribe/sibrahim"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/sibrahim', 'popupwindow')"
    class="embeddable-buttondown-form">
    <input type="email" name="email" id="bd-email" placeholder="Your email address" />
    <input type="hidden" value="1" name="embed" />
    <input type="submit" value="&rarr;" alt="Submit" />
  </form>
</div>
  </section>